/* ===== #MADIA QUERIES FOR RESPONSIVE DESIGN ===== */

@media screen and (max-width: 1400px) {
	body {
		font-size: .8rem;
	}

	.contacts-line {
		width: 150em;
		& .feedback__form-block {
        	.column(6);
    	}

    	& .feedback__text {
        	.column(6);
    	}
	}
}

@media screen and (max-width: 1150px) {
	body {
		font-size: .65rem;
	}

	.contacts-line {
		width: 150em;
		& .feedback__form-block {
        	.column(6);
    	}

    	& .feedback__text {
        	.column(6);
    	}
	}
}

@media screen and (max-width: 950px) {
	body {
		font-size: .55rem;
	}

	.contacts-line {
		width: 150em;
		& .feedback__form-block {
        	.column(6);
    	}

    	& .feedback__text {
        	.column(6);
    	}
	}

	.scheme-wrapper {
    	width:  75%;
    	top: 10%; right: 0; bottom: 0; left: 8%;
	}
}

@media screen and (max-width: 750px) {
	body {
		font-size: .5rem;
	}

	.contacts-line {
		width: 150em;
		& .feedback__form-block {
        	.column(6);
    	}

    	& .feedback__text {
        	.column(6);
    	}
	}

	.submenu {
		top: 2.2em;
		min-width: 15em;
	}

	.has-submenu {
		background-position: 100% 60%;
	}

	.scheme-wrapper {
    	width:  75%;
    	top: 5%; right: 0; bottom: 0; left: 10%;
	}
}

@media screen and (max-width: 700px) {
	#menu {
		display: none;
	}

	.slicknav_menu {
    display: block !important;
	}

	.assortment_item {
		.column(6);
		padding-top: 31.25%; // img-height / img-width * width
	
		& a {
			margin: 25% auto 0;
		}
	}

	.advantage_item  {
		margin-left:   3%;
		padding-right: 3%;
		display: block;
		width: 100%;

		& + .advantage_item {
			margin-top: 5%;
		}
	}

	.article-text {
		padding: 0;
	}
	
	.scheme-wrapper {
    	width:  75%;
    	top: 5%; right: 0; bottom: 0; left: 15%;
	}

	.scheme-number {
		margin-top: 12%;
	}

	.navigation_wrapper {
		padding: 9em 0 10em;
		& ul {
        .column(4);
    	}

    	& ul.ped{
        padding-left: 0;
    	}

    	& ul:last-child {
    		clear: left;
    		margin-top: -16.5%;
    	}
	}

	.buro .article-text {
    	padding: 0;
	}

	.catalog .products {
		padding: 0;
	}

	.products_line {
    	margin: 0 -4%;

    	& .product_item {
        	.column(6);
        	padding: 0 4%;
        	margin-bottom: 5%;

        	& h2 {
        		font-size: 3.5em;
    		}

    		& span {
        		font-size: 75%;
    		}
    	}
	}

	.contacts-line {
		width: 120em;
		& .feedback__form-block {
        	.column(6);
    	}

    	& .feedback__text {
        	.column(6);
    	}
	}

	.form-block {
    	width: 50em;

    	& input[type="text"] {
        	display: block;
        	float: none;
        	width: 100%;
    	}

    	& input[type="email"] {
        	display: block;
        	float: none;
        	width: 100%;
    	}

    	& textarea {
        	width: 100%;
        	margin: 0 auto;
        	min-height: 7em;
        	margin-bottom: 2.4em;
    	}
    }
}

@media screen and (max-width: 639px) {
	 .header-top button {
    	height: 3.2em;
    	width: 12.5em;
		border-radius: 1.6em;
	}

	footer button {
    	height: 3.2em;
    	width: 12.5em;
		border-radius: 1.6em;
	}

	.catalog button {
    	height: 3.2em;
    	width: 12.5em;
		border-radius: 1.6em;
	}

	.header-top {
    	& .wrapper {
        	float: none;
        	width: 100%;
    	}

    	& button {
        	margin: 0;
    	}
	}

	.header_logo {
		display: none;
	}

	.phone {
		float: right;
		padding-top: 2%;
	}

	.feedback__form-inline {
    	& input {
        	width: 50%;
        	display: block;
        	margin: 0 auto 1em;
    	}
	}

	.button__black {
    	width: 50%;
	}

	article {
		display: none;
	}

	.buro article {
		display: block;
	}

	.scheme-of-work {
		display: none;
	}

	.feedback__form-call {
    	float: none;
    	width:  60%;
    	display: block;
    	margin: auto;
	}

	.travel-agent_wrapper > p {
		margin: 2rem 0 0;
	}

	.footer_logo {
		display: none;
	}

	footer .wrapper {
		float: none;

		& button {
			margin: 0;
		}
	}

	.contacts-line {
		width: 100%;
		& .feedback__form-block {
        	.column(12);
        	border: none;
        	border-bottom: .2rem solid #fcbb23;
    	}

    	& .feedback__text {
        	.column(12);
        	padding: 2.5rem 0;
        	text-align: center;

        	& div {
        		margin-bottom: 1rem;
        	}
    	}
	}

	.form-block {
    	width: 60%;
    	margin: 0 auto 2rem;
	}
}

@media screen and (max-width: 399px) {
	body {
		font-size: .45rem;
	}

	.slicknav_nav {
		top: 6.5rem;
	}

	.assortment_item {
		.column(12);
		padding-top: 62.5%; // img-height / img-width * width
		font-size: .8rem;
	}

	.advantage_item  {
		margin-left:   3%;
		padding-right: 3%;
		display: block;
		width: 100%;

		& + .advantage_item {
			margin-top: 8%;
		}
	}

	.feedback__form-call {
		width: 80%;
	}

	.form-call {
    	& p {
        	margin-bottom: .5em;
        	font-size: 3.6em;
    	}

    	& input,
    	& button {
        	width: 100%;
        	font-size: 1.3rem;
    	}
    }

	.navigation_wrapper {
		padding: 9em 0 10em;

		& ul {
        	.column(12);
        	padding: 0;
        	font-size: 4em;
        	text-align: center;
        	margin-bottom: 3rem;
    	}

    	& ul.ped{
        	padding: 0;
        	margin-top: 0;
    	}

    	& ul:last-child {
    		clear: none;
    		margin: 0;
    	}
	}

	.catalog .products {
		padding: 0;
	}

	.products_line {
    	margin: 0 -15%;

    	& .product_item {
        	.column(12);
        	padding: 0 15%;
        	margin-bottom: 10%;

        	& h2 {
        		font-size: 4.5em;
    		}

    		& span {
        		font-size: 65%;
    		}
    	}
	}

	button {
		font-size: 2.5em;
	}

	.contacts-line {
		width: 100%;
		& .feedback__form-block {
        	.column(12);
    	}

    	& .feedback__text {
        	.column(12);
    	}
	}

	.form-block {
    	width: 80%;
    	font-size: 1.5em;

    	& input[type="text"] {
        	display: block;
        	float: none;
        	width: 100%;
    	}

    	& input[type="email"] {
        	display: block;
        	float: none;
        	width: 100%;
    	}

    	& textarea {
        	width: 100%;
        	margin: 0 auto;
        	min-height: 7em;
        	margin-bottom: 2.4em;
    	}
    }

}

